<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.gangjiantou.mapper.ApplyMapper">

    <select id="pendingApply" resultType="com.chinasoft.gangjiantou.entity.Apply">
        select distinct apl.* from (`apply` apl inner join apply_approver appover on apl.id=appover.apply_id)
        <if test="applyPendingDto.fileName != null and applyPendingDto.fileName !='' ">
            inner join `file` on `file`.apply_id=apl.id
        </if>
        where
        appover.approver_id = #{userId} and apl.current_approver_id= #{userId}
        and  apl.status!=1

        <if test="applyPendingDto.applicant != null and applyPendingDto.applicant !='' ">
            and apl.applicant like concat('%',#{applyPendingDto.applicant,jdbcType=VARCHAR},'%')
        </if>
        <if test="applyPendingDto.serialNumber != null and applyPendingDto.serialNumber !='' ">
            and apl.serial_number = #{applyPendingDto.serialNumber,jdbcType=VARCHAR}
        </if>
        <if test="applyPendingDto.subject != null and applyPendingDto.subject !='' ">
            and apl.subject like concat('%', #{applyPendingDto.subject,jdbcType=VARCHAR},'%')
        </if>
        <if test="applyPendingDto.fileName != null and applyPendingDto.fileName !='' ">
            and file.file_name like concat('%', #{applyPendingDto.fileName,jdbcType=VARCHAR},'%') and file.source=-1
        </if>
        <if test="applyPendingDto.statusList != null and applyPendingDto.statusList.size >0 and applyPendingDto.statusList.contains(&quot;0&quot;)">
            AND (appover.status IN
            <foreach item="item" index="index" collection="applyPendingDto.statusList" open="(" close=")" separator=",">
                <if test="item == 0 ">
                    99
                </if>
                <if test="item != 0 ">
                    #{item}
                </if>
            </foreach>
            or appover.status = 0
            and apl.current_approver_id= #{userId,jdbcType=VARCHAR}
            )
        </if>
        <if test="applyPendingDto.statusList != null and applyPendingDto.statusList.size >0 and applyPendingDto.statusList.contains(&quot;0&quot;) == false">
            AND appover.status IN
            <foreach item="item" index="index" collection="applyPendingDto.statusList" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="applyPendingDto.statusList == null or applyPendingDto.statusList.size == 0">
            and ( appover.status = 0
            and apl.current_approver_id= #{userId,jdbcType=VARCHAR}
            or appover.status in (1,2,3) )
        </if>
        <if test="applyPendingDto.startTime != null ">
            <![CDATA[
            and apl.apply_time >= #{applyPendingDto.startTime,jdbcType=TIMESTAMP}
               ]]>
        </if>
        <if test="applyPendingDto.endTime != null ">
            <![CDATA[
            and apl.apply_time <= #{applyPendingDto.endTime,jdbcType=TIMESTAMP}
            ]]>
        </if>
        order by apl.apply_time desc

    </select>
    <select id="queryCC" resultType="com.chinasoft.gangjiantou.entity.Apply">
        select apl.* from apply apl inner join carbon_copy cc on apl.id=cc.apply_id
        where
        cc.user_id = #{userId}
        and  apl.status!=1
        <if test="ccDto.applicant != null and ccDto.applicant !='' ">
            and apl.applicant like concat('%',#{ccDto.applicant,jdbcType=VARCHAR},'%')
        </if>
        <if test="ccDto.serialNumber != null and ccDto.serialNumber !='' ">
            and apl.serial_number = #{ccDto.serialNumber,jdbcType=VARCHAR}
        </if>
        <if test="ccDto.subject != null and ccDto.subject !='' ">
            and apl.subject like concat('%', #{ccDto.subject,jdbcType=VARCHAR},'%')
        </if>
        <if test="ccDto.status != null ">
            and apl.status = #{ccDto.status,jdbcType=TINYINT}
        </if>
        <if test="ccDto.startTime != null ">
            <![CDATA[
            and apl.apply_time >= #{ccDto.startTime,jdbcType=TIMESTAMP}
               ]]>
        </if>
        <if test="ccDto.endTime != null ">
            <![CDATA[
            and apl.apply_time <= #{ccDto.endTime,jdbcType=TIMESTAMP}
            ]]>
        </if>
        order by apl.apply_time desc
    </select>

    <select id="queryShift" resultType="com.chinasoft.gangjiantou.entity.Apply">
        select distinct apl.*,appover.status as `condition` from (`apply` apl inner join apply_approver appover on apl.id=appover.apply_id)
        <if test="shiftDto.fileName != null and shiftDto.fileName !='' ">
            inner join `file` on `file`.apply_id=apl.id
        </if>
        where
        appover.approver_id = #{userId} and appover.shift_flag=1
        and  apl.status!=1

        <if test="shiftDto.applicant != null and shiftDto.applicant !='' ">
            and apl.applicant like concat('%',#{shiftDto.applicant,jdbcType=VARCHAR},'%')
        </if>
        <if test="shiftDto.serialNumber != null and shiftDto.serialNumber !='' ">
            and apl.serial_number = #{shiftDto.serialNumber,jdbcType=VARCHAR}
        </if>
        <if test="shiftDto.subject != null and shiftDto.subject !='' ">
            and apl.subject like concat('%', #{shiftDto.subject,jdbcType=VARCHAR},'%')
        </if>
        <if test="shiftDto.fileName != null and shiftDto.fileName !='' ">
            and file.file_name like concat('%', #{shiftDto.fileName,jdbcType=VARCHAR},'%') and file.source=-1
        </if>
        <if test="shiftDto.status != null">
            AND appover.status = #{shiftDto.status,jdbcType=TINYINT}
        </if>
        <if test="shiftDto.startTime != null ">
            <![CDATA[
            and apl.apply_time >= #{applyPendingDto.startTime,jdbcType=TIMESTAMP}
               ]]>
        </if>
        <if test="shiftDto.endTime != null ">
            <![CDATA[
            and apl.apply_time <= #{applyPendingDto.endTime,jdbcType=TIMESTAMP}
            ]]>
        </if>
        order by apl.apply_time desc
    </select>
</mapper>
